body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(247, 195, 195, 0.966);
    
    margin: 0;
    padding: 0;

}

#greeting{
    font-size: 19px;
    display: block;
    
    
}

.strt_btn{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#bt{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{
    display: flex;
    text-align: center;
    justify-content: center;
}
.strt_btn button{
    border: none;
    border-radius: 3px;
    font-size: 16px; 
    padding: 10px;
    background-color: rgb(255, 231, 231);
    cursor: pointer;

}
.strt_btn button:hover{
    background-color: rgb(204, 123, 123);
    transition: 0.6s;
    
}
.strt_btn button:not(:hover){
    transition: 0.4s;

}

.heading{
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#container{
   
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(252, 237, 239);
    
    
}

#answers{
    display: grid;
    grid-template-columns: repeat(2,250px);
    gap: 30px;
    margin: 20px ;

}
@media(max-width:740px){
    #gif-img,#gif-img2{
        display: none;
        width: 200px;
    }
    #container{
        width: 300px;
    }
}


@media(max-width:650px){
    #answers{
        display: flex;
        flex-direction: column;
       
    }
    #container{
        width: 280px;
    }
}
@media(max-width:470px){
    #container{
        width: 200px;
    }
}

#controls{
    display: block;
    
}


.btn{
    border: none;
    border-radius: 3px;
    padding: 20px;
    background-color: rgb(250, 205, 205);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 8px;;

}

.btn:hover:not([disabled]){
    opacity: 0.6;
}
.btn:disabled{
    cursor: no-drop;
}
#next{
    border: none;
    margin: auto;
    border-radius: 3px;
    font-size: 13px;
   
    padding: 10px;
    background-color: rgb(238, 181, 181);
    cursor: pointer;
    display: none;

}
#next:hover{
    background-color: rgb(241, 152, 152);
    transition: 0.4s;

}
#gif-img, #gif-img2{
    display: none;
}

.meme{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    

}
.correct{
    background: rgb(113, 211, 113);
    opacity: 0.8;
    transition: 0.2s;
}

.incorrect{
    background: rgb(233, 46, 46);
    opacity: 0.8;
}

